In [2]:
import numpy as np;
import pandas as pd;
import matplotlib.pyplot as plt

In [ ]:
a = np.array([1,2,3]);
b = np.array([1,3,4]);
kh = (a+b);
kh

array([2, 5, 7])

In [6]:
print(a.shape);
print(b.shape);

(3,)
(3,)

In [13]:
a = np.array([1,2,3,4,5,6,7,8,9]);
b = np.array([1,2,3,4,5,6,7,8,9]);
k = np.concatenate((a,b));
k

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
a = np.array([1,2,3,4,5,6,7,8,9]);
b = a[2:7];
b

array([3, 4, 5, 6, 7])

In [16]:
sum = np.sum(a);
sum

np.int64(45)

In [17]:
sum = np.max(a);
sum

np.int64(9)

In [21]:
sum = np.min(a);
sum

np.int64(1)

In [ ]:
a = np.array([22,33,44,55]);
b = np.array([11,77,88,99]);
c = a+b;

array([ 33, 110, 132, 154])

In [26]:
a = np.random.rand(10,15,20);
a

array([[[0.47160683, 0.30281391, 0.91049469, ..., 0.10456362,
         0.0420297 , 0.51645723],
        [0.91907348, 0.97264914, 0.522375  , ..., 0.62976084,
         0.60193014, 0.75885772],
        [0.67449084, 0.01664837, 0.56830224, ..., 0.27800281,
         0.12545256, 0.72354909],
        ...,
        [0.09334053, 0.5891102 , 0.76203064, ..., 0.70931057,
         0.74134565, 0.8585943 ],
        [0.76136975, 0.65953055, 0.79090266, ..., 0.22723716,
         0.95777536, 0.33361764],
        [0.34498495, 0.83501213, 0.39293407, ..., 0.55439637,
         0.40003771, 0.55293731]],

       [[0.8706226 , 0.99566701, 0.83721909, ..., 0.91017655,
         0.27337475, 0.73843832],
        [0.99028517, 0.61252011, 0.64934387, ..., 0.25773868,
         0.85261201, 0.74295796],
        [0.48361947, 0.46503926, 0.96068953, ..., 0.95737119,
         0.92791794, 0.95725462],
        ...,
        [0.13318276, 0.70774216, 0.21603223, ..., 0.57859627,
         0.54645638, 0.22135962],
        [0.72503493, 0.12688555, 0.95060963, ..., 0.72870512,
         0.70850221, 0.50660937],
        [0.07152047, 0.77541638, 0.76265648, ..., 0.03432374,
         0.43024021, 0.08046575]],

       [[0.63130628, 0.98771856, 0.08351583, ..., 0.72893471,
         0.64571863, 0.85182096],
        [0.76190575, 0.43612401, 0.34100429, ..., 0.4219712 ,
         0.36875492, 0.91521963],
        [0.11545239, 0.19352384, 0.79339376, ..., 0.20849183,
         0.99246452, 0.68155785],
        ...,
        [0.43447612, 0.33269059, 0.73702283, ..., 0.13325737,
         0.34190116, 0.7445037 ],
        [0.44263593, 0.66834724, 0.73478114, ..., 0.53554812,
         0.99342389, 0.49500346],
        [0.74701638, 0.28013799, 0.01082525, ..., 0.52679161,
         0.49114703, 0.05898585]],

       ...,

       [[0.18461255, 0.68275627, 0.90498087, ..., 0.49272738,
         0.58191908, 0.16670654],
        [0.43589237, 0.5582211 , 0.23305201, ..., 0.90641774,
         0.91981199, 0.33870144],
        [0.40331861, 0.82195258, 0.99640225, ..., 0.6097973 ,
         0.38263424, 0.249807  ],
        ...,
        [0.84363784, 0.59046114, 0.45035608, ..., 0.02867118,
         0.22546161, 0.88517246],
        [0.40932395, 0.3436358 , 0.21566786, ..., 0.38651883,
         0.83277974, 0.10027523],
        [0.6431285 , 0.90710478, 0.7692357 , ..., 0.48892455,
         0.84463106, 0.28211732]],

       [[0.14531895, 0.83143219, 0.88368996, ..., 0.03074146,
         0.97509047, 0.86008538],
        [0.96054368, 0.66948101, 0.97333909, ..., 0.62186855,
         0.96842446, 0.13262476],
        [0.60386374, 0.30962973, 0.17842   , ..., 0.30691912,
         0.03229828, 0.16540931],
        ...,
        [0.02718457, 0.07957859, 0.81868675, ..., 0.66845934,
         0.60910215, 0.80506633],
        [0.56998483, 0.9199542 , 0.75308151, ..., 0.38196227,
         0.56738168, 0.03977857],
        [0.25682633, 0.67696541, 0.07501484, ..., 0.9002353 ,
         0.07071002, 0.67450326]],

       [[0.88342074, 0.03662222, 0.9955571 , ..., 0.91185843,
         0.29977682, 0.76063593],
        [0.22939364, 0.22626707, 0.14154039, ..., 0.71050479,
         0.52429691, 0.19618215],
        [0.23247416, 0.5813725 , 0.91654306, ..., 0.10207482,
         0.55530187, 0.82354974],
        ...,
        [0.16883291, 0.57059757, 0.68013714, ..., 0.08670928,
         0.45942342, 0.94976668],
        [0.16276094, 0.4259966 , 0.67272407, ..., 0.70536305,
         0.18977255, 0.02485767],
        [0.28660461, 0.44149267, 0.92144453, ..., 0.92754515,
         0.38542259, 0.18957101]]], shape=(10, 15, 20))

In [27]:
a = np.array([1,3,5,8]);
b = np.array([2,9,8,5]);
c = np.vstack((a,b));
c

array([[1, 3, 5, 8],
       [2, 9, 8, 5]])

In [28]:
c = np.hstack((a,b));
c

array([1, 3, 5, 8, 2, 9, 8, 5])

In [29]:
c = np.mean(a);
c

np.float64(4.25)

In [30]:
c = np.std(b);
c

np.float64(2.7386127875258306)

In [34]:
data = {
    "Name":["Reza","Ali","Hossein"],
    "Age":[18,10,14],
    "phonenumber":["09922313387","09193485713","09191466985"]
}
h = pd.DataFrame(data);
h

      Name  Age  phonenumber
0     Reza   18  09922313387
1      Ali   10  09193485713
2  Hossein   14  09191466985