In [4]:
import numpy as np;
import pandas as pd;
import matplotlib.pyplot as plt

In [5]:
a = np.array([1,2,3]);
b = np.array([1,3,4]);
kh = (a+b);
kh

array([2, 5, 7])

In [6]:
print(a.shape);
print(b.shape);

(3,)
(3,)

In [7]:
a = np.array([1,2,3,4,5,6,7,8,9]);
b = np.array([1,2,3,4,5,6,7,8,9]);
k = np.concatenate((a,b));
k

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
a = np.array([1,2,3,4,5,6,7,8,9]);
b = a[2:7];
b

array([3, 4, 5, 6, 7])

In [9]:
sum = np.sum(a);
sum

np.int64(45)

In [10]:
sum = np.max(a);
sum

np.int64(9)

In [11]:
sum = np.min(a);
sum

np.int64(1)

In [12]:
a = np.array([22,33,44,55]);
b = np.array([11,77,88,99]);
c = a+b;

In [13]:
a = np.random.rand(10,15,20);
a

array([[[6.39628114e-01, 5.17289870e-01, 9.78016445e-01, ...,
         4.21988542e-01, 2.41168076e-01, 1.21309234e-01],
        [7.99350823e-01, 7.92204394e-01, 1.18413481e-01, ...,
         7.97262663e-01, 5.45885288e-01, 4.29087517e-01],
        [7.65634696e-02, 2.50581767e-01, 8.74850994e-01, ...,
         8.43055462e-01, 9.26099369e-01, 7.08782015e-01],
        ...,
        [6.22555246e-01, 2.44886927e-01, 8.04922719e-01, ...,
         5.87224554e-01, 4.59403960e-01, 3.71945158e-02],
        [2.39829697e-01, 7.20528840e-01, 9.38330769e-01, ...,
         3.62693798e-01, 7.18984755e-01, 7.14103842e-01],
        [4.05280015e-01, 1.69635682e-01, 5.31282968e-02, ...,
         9.76649854e-01, 1.75007906e-04, 6.40037507e-02]],

       [[4.17843169e-01, 5.87236265e-01, 6.50753168e-01, ...,
         5.18774598e-01, 5.20369831e-01, 8.54828380e-01],
        [7.21335502e-01, 9.44942956e-01, 9.37637016e-01, ...,
         3.00959947e-01, 9.36626475e-01, 7.22988423e-01],
        [3.18352960e-03, 4.18358825e-01, 6.43432533e-01, ...,
         2.20686251e-01, 2.84947875e-01, 6.86406149e-02],
        ...,
        [1.89206760e-01, 7.72569364e-01, 9.16611052e-01, ...,
         4.25055950e-01, 2.66328057e-01, 6.63029806e-01],
        [4.54672228e-01, 8.91819742e-01, 8.72923078e-01, ...,
         1.16137637e-01, 5.53635386e-01, 7.34198203e-01],
        [9.36794893e-01, 3.25384175e-01, 6.19397589e-01, ...,
         3.44207549e-01, 4.46416018e-01, 1.38961375e-01]],

       [[2.06188339e-01, 6.44763693e-01, 1.27540731e-01, ...,
         9.74961141e-01, 4.35773564e-02, 2.84607938e-01],
        [1.46721174e-01, 8.11674919e-01, 4.71908551e-01, ...,
         5.09766218e-01, 3.85627712e-01, 3.86344976e-01],
        [9.05867107e-01, 9.36868897e-01, 6.21256927e-01, ...,
         6.95954056e-01, 4.89844856e-01, 9.81022138e-01],
        ...,
        [6.92589125e-01, 6.87741777e-01, 5.10955729e-01, ...,
         8.57293171e-01, 7.88910234e-01, 7.42460367e-01],
        [8.92742286e-01, 3.19244823e-01, 8.77080552e-01, ...,
         5.19372850e-02, 1.04537119e-01, 8.30587922e-01],
        [3.05117636e-01, 9.71637780e-01, 5.29750238e-01, ...,
         6.83465151e-01, 8.83070503e-01, 5.43532155e-01]],

       ...,

       [[3.50098726e-01, 4.70330599e-01, 7.26154107e-01, ...,
         6.52782500e-01, 2.33991459e-01, 9.05259427e-01],
        [3.31584910e-01, 4.35010629e-01, 1.83638837e-01, ...,
         2.05833943e-01, 1.44700708e-01, 6.79921508e-01],
        [9.02906593e-01, 5.97663803e-01, 9.47737847e-01, ...,
         5.76882279e-01, 2.08664872e-01, 1.34122991e-01],
        ...,
        [3.54781886e-01, 8.68556882e-01, 2.06179455e-01, ...,
         8.18021500e-01, 2.77502125e-01, 5.66742753e-01],
        [5.39698666e-01, 6.36663640e-01, 3.20747333e-01, ...,
         1.66728654e-01, 6.38375493e-01, 1.64130977e-02],
        [1.39149039e-01, 1.84203286e-01, 5.04462036e-01, ...,
         7.97917144e-01, 4.65386997e-01, 8.98002282e-01]],

       [[1.18305422e-01, 6.05435648e-01, 3.59127163e-01, ...,
         8.89119780e-01, 9.98550679e-01, 8.43657606e-01],
        [7.67244194e-01, 3.78872510e-01, 5.58583584e-01, ...,
         9.54008243e-01, 6.75486814e-01, 7.49297308e-01],
        [5.93637691e-01, 5.94707474e-01, 2.15207553e-01, ...,
         9.87784710e-01, 4.68961625e-01, 4.66029138e-01],
        ...,
        [6.28698636e-01, 5.99449875e-01, 5.67797013e-01, ...,
         5.46682683e-02, 5.51158225e-01, 5.04536225e-01],
        [3.10462754e-01, 9.90486511e-01, 4.31032148e-01, ...,
         3.18696693e-01, 3.69949787e-01, 2.26202430e-01],
        [2.35529535e-02, 1.40888552e-01, 8.73046960e-01, ...,
         2.48767212e-02, 3.80997258e-01, 3.44400793e-01]],

       [[8.04823513e-01, 6.17274271e-01, 4.03597262e-01, ...,
         3.07273956e-01, 6.65241822e-01, 1.66520350e-01],
        [4.68168704e-01, 8.74011885e-01, 2.67877126e-01, ...,
         2.41506069e-01, 6.69342165e-01, 3.01511574e-02],
        [1.20804087e-01, 1.68845938e-01, 6.61520715e-01, ...,
         9.50274293e-01, 9.56722961e-03, 8.11809518e-02],
        ...,
        [9.69731574e-01, 8.25754059e-01, 5.94117823e-02, ...,
         5.38806897e-01, 2.36474121e-01, 4.61886766e-01],
        [4.49834845e-02, 3.65976441e-01, 8.63243624e-01, ...,
         3.20914857e-01, 7.95638125e-01, 6.02616570e-01],
        [1.09806401e-01, 4.22528866e-01, 3.30905232e-01, ...,
         6.24627061e-02, 1.08205073e-01, 8.59528772e-02]]],
      shape=(10, 15, 20))

In [14]:
a = np.array([1,3,5,8]);
b = np.array([2,9,8,5]);
c = np.vstack((a,b));
c

array([[1, 3, 5, 8],
       [2, 9, 8, 5]])

In [15]:
c = np.hstack((a,b));
c

array([1, 3, 5, 8, 2, 9, 8, 5])

In [16]:
c = np.mean(a);
c

np.float64(4.25)

In [17]:
c = np.std(b);
c

np.float64(2.7386127875258306)

In [18]:
data = {
    "Name":["Reza","Ali","Hossein"],
    "Age":[18,10,14],
    "phonenumber":["09922313387","09193485713","09191466985"]
}
h = pd.DataFrame(data);
h

      Name  Age  phonenumber
0     Reza   18  09922313387
1      Ali   10  09193485713
2  Hossein   14  09191466985

In [21]:
df = pd.DataFrame(data);
df

      Name  Age  phonenumber
0     Reza   18  09922313387
1      Ali   10  09193485713
2  Hossein   14  09191466985

In [22]:
df.head();
df

      Name  Age  phonenumber
0     Reza   18  09922313387
1      Ali   10  09193485713
2  Hossein   14  09191466985

In [23]:
df.describe();
df

      Name  Age  phonenumber
0     Reza   18  09922313387
1      Ali   10  09193485713
2  Hossein   14  09191466985

In [24]:
df["Age"];
df

      Name  Age  phonenumber
0     Reza   18  09922313387
1      Ali   10  09193485713
2  Hossein   14  09191466985